body{
    user-select: none;
    font-family: "Courier Prime", monospace;
    text-align: center;
    background-color: #0d1f2d;
    color: #9ea3b0;
    margin: 0;
}
h2{
    color: #0d1f2d;
    background-color: #9ea3b0 ;
    border: #9ea3b0 solid 2px;
    padding: 1.5%;
    transition: .5s ease-in-out;
}
h2:hover{
    color: #9ea3b0;
    background-color: #546a7b;
    border-color: #546a7b;
}
b{
    transition: .2s ease-in-out;
}
b:hover{
    color: #546a7b;
}
/* img{
    border-radius: 10px;
    width: 150px;
} */
.homework{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homework a{
    all: unset;
    cursor: pointer;
    padding:1%;
    border: solid 2px;
    width: 50%;
    margin: 1.5%;
    background-color: #546a7b;
    border-color: #546a7b;
    transition: .3s ease-in-out;
}
a:hover{
    background-color: #9ea3b0;
    color: #546a7b;
    box-shadow: #546a7b 5px 5px;
    border-color: #9ea3b0;
}
footer{
    font-size: 10px;
    position:absolute;
    bottom: 0;
    left: 50%;
    transform:translate(-50%,-50%);
}